.container {
  border: outset 1px #dbdbff;
  border-radius: 10px;
  background-image: url(https://cdn.dribbble.com/users/8483639/screenshots/16148575/media/d7d4f955e0bb47e1e3b80ec39eae5039.png?compress=1&resize=1200x900);
  width: 350px;
  height: fit-content;
}
.App {
  background: linear-gradient(
    68.1deg,
    rgb(248, 205, 205) -0.3%,
    rgb(149, 170, 211) 100.7%
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: azure;
  text-decoration: none;
}
a:hover {
  color: rgb(132, 132, 253);
}
footer {
  font-size: 15px;
}
