.App {
  text-align: center;
}
.container {
  border: outset 1px #dbdbff;
  border-radius: 10px;
  background-color: #ffdfdf;
  width: 300px;
  height: 250px;
}
.App {
  background: linear-gradient(
    109.6deg,
    rgb(120, 212, 234) 11.2%,
    rgb(216, 226, 253) 72.1%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  border: none;
  width: 200px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(196, 195, 195);
}
li {
  list-style: none;
  font-weight: 300;
  text-align: left;
}
button {
  background-color: rgb(219, 219, 255);
  height: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px rgb(196, 195, 195);
}
button:hover {
  background-color: rgb(236, 134, 250);
  cursor: pointer;
}
