.temp-min {
  opacity: 0.7;
  margin-left: 5px;
}
.forecastIcon {
  opacity: 0.7;
}
.forecastDay {
  font-size: 15px;
  margin-bottom: 5px;
}
.forecastTemp {
  font-size: 15px;
}
.col {
  float: left;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 20px;
  text-align: center;
}
